/.gradle
/.settings
/bin
/build
/eclipse
/gradle

/CREDITS-fml.txt
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
/forge-1.7.2-10.12.1.1060-changelog.txt
/gradlew
/gradlew.bat
/ic2api-2.1.478.jar
/src164.zip

.classpath
.project
